{% extends 'default/base.html.j2' %}

{% block content %}
    <form action="" method="post" name="category" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="box">
            <p>
                {{ form.name(size=20, placeholder='Category Name') }}
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.image(accept='.jpg,.jpeg,.png,.gif') }}
                {% for error in form.image.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
