{% extends 'default/base_simple.html.j2' %}

{% block content %}
    <form action="" method="post" name="user">
        {{ form.hidden_tag() }}
        <div class="box">
            <p>
                {{ form.nickname(size=20, placeholder='Nickname') }}
                {% for error in form.nickname.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password(size=20, placeholder='New Password') }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                Administrative privileges {{ form.is_admin }}
            </p>
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
