{% extends 'default/base_simple.html.j2' %}

{% block content %}
    <form action="" method="post" name="removal">
        <div class="box">
            <p>Are you sure you want to delete {{ obj }}? {{ form.is_confirmed }}</p>
            {% if msg %}<p>{{ msg }}</p>{% endif %}
        </div>
        <button type="submit">Confirm</button>
    </form>
{% endblock %}
