{% extends 'default/base_simple.html.j2' %}

{% block content %}
    <h1>Page not found!</h1>
    <p>Sorry, the page you are looking for does not exist. Maybe it has been deleted or moved.</p>
{% endblock %}
